name: Publication site
on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Configurer Pages
        uses: actions/configure-pages@v5

      - name: Créer l'artifact (Build)
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Déployer l'artifact (Deploy)
        uses: actions/deploy-pages@v4
